body {
    background-image: url('https://fontawesome.com/social/paw?f=&s=');
    background-size: cover;
    background-repeat: no-repeat;
}

div > p {
    font-size: 30px;
  }
  
  body {
    font-family: 'Your Chosen Cute Font', cursive;
    color: #ffffff;
  }